*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.box-ef{
    display: flex;
    flex-direction: row;
    height:250px;
}

.box-gh{
    display:flex;
    flex-direction: row;
    height:250px;
}

.box-a{
    height:75px;
}

.box-b{
    height:150px;
}

.box-c{
    height:125px;
}

.box-d{
    height:125px;
}

.box-i{
    height:80px;
}

.box-e{
    width: 50%;
}
.box-f{
    width: 50%;
}
.box-g{
    width: 50%;
}
.box-h{
    width: 50%;
}


@media screen and (min-width: 768px){
    .box-a{
        width:100%;
        height:100px;
    }
    
    .box-b{
        width:20%;
        height:600px;
        float:left;
    }

    .box-c{
        width:40%;
        height:200px;
        float:left;
    }
    
    .box-d{
        width:40%;
        height:200px;
        float:left;
    }
    
    .box-efgh{
        height:450px;
    }
    
    .box-e{
        width:20%;
        height:250px;
        float:left;
    }
    
    .box-f{
        width:20%;
        height:250px;
        float: left;
    }
    
    .box-g{
        width:20%;
        height:250px;
        float:left;
    }
    
    .box-h{
        width:20%;
        height:250px;
        float: left;
    }
    
    .box-i{
        width:80%;
        height:150px;
        float:left;
    }
}
