*{
    margin:0;
    padding:0;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
}

.box-ef{
    display: flex;
    flex-direction: row;
    height:250px;
}

.box-gh{
    display:flex;
    flex-direction: row;
    height:250px;
}

.box-a{
    height:75px;
}

.box-b{
    height:150px;
}

.box-c{
    height:125px;
}

.box-d{
    height:125px;
}

.box-i{
    height:80px;
}

.box-e{
    width: 50%;
}
.box-f{
    width: 50%;
}
.box-g{
    width: 50%;
}
.box-h{
    width: 50%;
}


@media screen and (min-width: 768px){
    body{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .box-a{
        height:100px;
    }
    
    main{
        width:100%;
        height:600px;
        display:flex;
        flex-direction: row;
    }

    .left-box{
        height:600px;
        width:20%;
    }
    
    .box-b{
        height:600px;
    }

    .right-box{
        display:flex;
        flex-direction:column;
        height:600px;
        width:80%;
        
    }

    .box-cd{
        width:100%;
        display:flex;
        flex-direction: row;
        height:200px;
        
    }

    .box-c{
        height:200px;
        width:50%;
    }
    .box-d{
        height:200px;
        width:50%;
    }

    .box-efgh{
        display:flex;
        flex-direction:row;
        height:250px;
        width:100%;
    }

    .box-ef{
        width:50%;
    }

    .box-gh{
        width:50%;
    }

    .box-i{
        height:150px;
    }

    

}
