/* .box-a p{
    padding-top:32.5px;
}

.box-b p{
    padding-top:75px;
}

.box-c p{
    padding-top:62.5px;
}

.box-d p{
    padding-top:62.5px;
}

.box-e p{
    padding-top:125px;
}

.box-f p{
    padding-top:125px;
}

.box-g p{
    padding-top:125px;
}

.box-h p{
    padding-top:125px;
}

.box-i p{
    padding-top:40px;
}

@media screen and (min-width: 768px){
    .box-a p{
        padding-top:50px;
    }

    .box-b p{
        padding-top:300px;
    }

    .box-c p{
        padding-top:100px;
    }

    .box-d p{
        padding-top:100px;
    }

    .box-e p{
        padding-top:125px;
    }

    .box-f p{
        padding-top:125px;
    }

    .box-g p{
        padding-top:125px;
    }

    .box-h p{
        padding-top:125px;
    }

    .box-i p{
        padding-top:75px;
    }
} */