*{
    text-align: center;
}

.box-a{
    background-color: aqua;
}

.box-b{
    background-color: rgb(23, 116, 116);
}

.box-c{
    background-color: rgb(16, 73, 126);
}

.box-d{
    background-color: rgb(13, 18, 87);
}

.box-e{
    background-color: rgb(109, 18, 184);
}

.box-f{
    background-color: rgb(57, 13, 107);
}

.box-g{
    background-color: rgb(221, 40, 167);
}

.box-h{
    background-color: rgb(219, 23, 131);
}

.box-i{
    background-color: rgb(180, 32, 52);
}